@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">This or That</h1>
    <p>This or That is a project developed for people to compare two seperate things and determine which they like better between the two. After picking, the results will show the statistics of what was chosen.</p>
</div>
