@{ ViewData["Title"] = "List";}

<h1>List of Templates</h1>

<ul>
    <li>
        <a asp-controller="List" asp-action="Browse" asp-route-list="Crypto Currencies">Crypto Currencies
        
        </a>
    </li>
    <li>
        <a asp-controller="List" asp-action="Browse" asp-route-list="Video Games">Video Games
        
        </a>
    </li>
    <li>
        <a asp-controller="List" asp-action="Browse" asp-route-list="Drinks">Drinks
        
        </a>
    </li>
</ul>    